Django>=1.6
easy-thumbnails
django-compressor
psycopg2
pillow
django-fluent-comments
django-mass-edit
python-memcached
django-picklefield
django-finegrained-permissions
django-import-export
django-comments-moderation
-e git+https://github.com/auto-mat/django-webmap-corpus.git#egg=django-webmap-corpus
-e git+https://github.com/PetrDlouhy/django-author.git#egg=django-author
