django<2.2
easy-thumbnails
django-compressor
psycopg2
pillow
django-constance[database]
django-fluent-comments
django-mass-edit
python-memcached
django-picklefield
#gdal
#importlib
django-finegrained-permissions
django-import-export
django-colorful
-e git+https://github.com/PetrDlouhy/django-comments-moderation.git#egg=django-comments-moderation
beautifulsoup4
gunicorn
