{% load static cache compress staticpage geturl %}
{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}" />
  <link rel="stylesheet" href="{% static "css/openlayers.css" %}" type="text/css" /> 
  <link rel="stylesheet" href="{% static "css/zelenamapa.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "css/layerswitcher.css" %}" type="text/css" />

  <link rel="stylesheet" href="{% static "css/print.css" %}" type="text/css" media="print" />
  {% if mobilni %}
      <link rel="stylesheet" href="{% static "css/mobile.css" %}" type="text/css" />
  {% endif %}


   <script type="text/javascript" src="{% static "js/OpenLayers.js" %}"></script>
 {% compress js %} 
   <script type="text/javascript" src="{% static "js/OpenStreetMap.js" %}"></script>
   <script type="text/javascript" src="{% static "js/MyFramedCloud.js" %}"></script>

   <script type="text/javascript" src="{% static "js/jquery.tools.min.js" %}"></script>
   <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
   <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>
   <script type="text/javascript" src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
   <script type="text/javascript" src="{% static "js/jquery.ba-hashchange.min.js" %}"></script>

   <script type="text/javascript" src="{% static "js/simplelayerswitcher.js" %}"></script>
   <script type="text/javascript" src="{% static "js/mapa.js" %}"></script>

   {% if not mobilni %}
   <script type="text/javascript">
    
        /* <![CDATA[ */
        // CSS for narrow window (when less than 1100 detected, then we use 1024 layout)
        $(document).ready(function(){
	   if (screen.height<=900){
	      $('head').append('<link rel="stylesheet" href="{% static "css/zm_low.css" %}" type="text/css" />');
	   };
	   //if (screen.width<=1100){
	   //   $('head').append('<link rel="stylesheet" href="{% static "css/zm_narrow.css" %}" type="text/css" />');
	   //};
	});

        // Displayed overlay and resize handler
        $(window).resize(function() {
	   var overlay_left = $('#overlay_left');
	   if(overlay_left.css('display') != 'none') {
	      var offset = $('.core').offset();
	      overlay_left.css('left', offset.left);
	   }
	   var search_results = $('#search_results');
	   if(search_results.css('display') != 'none') {
	      var offset = $('.filtry').offset();
	      search_results.css('left', offset.left);
	   }
	});
        /*]]> */
        $(function() {
          $( "#tabs" ).tabs({event: "mouseover"});
        });
    </script>
   {% endif %}
    {% endcompress %}

    <title>{% if center_poi %}{{ center_poi }} - {% endif %}Zelená mapa Prahy</title>
    {% if center_poi %}
         <meta property="og:title" content="{{ center_poi }} - Zelená mapa Prahy"/>
	 <meta property="og:site_name" content="Zelená mapa Prahy"/>
         <!--<meta property="og:url" content="http://{{ site }}:8010/misto/{{  center_poi.id }}"/>-->
	 {% if center_poi.foto_thumb %}
	   <meta property="og:image" content="http://{{ site }}{{ center_poi.foto_thumb.url }}"/>
	 {% else %}
 	   <meta property="og:image" content="http://{{ site }}/static/img/zelena_mapa_ctverec.jpg"/>
	 {% endif %}
	 {% if center_poi.desc %}
 	   <meta property="og:description" content="{{ center_poi.desc|safe }}"/>
	 {% else %}
 	   <meta property="og:description" content="{{ center_poi.znacka }}"/>
	 {% endif %}
   {% endif %}     
     
<script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-22281359-1']);
     _gaq.push(['_setDomainName', '.{{ site }}']);
     _gaq.push(['_trackPageview']);
   
     (function() 
      {
	 
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      }
      )();
</script>

<script type="text/javascript">
{% cache 86400 mapconfig %} {# 24 hodin #}
    var mapconfig = {};
    mapconfig['vrstvy'] = [];
    {% for v in vrstvy %}
        mapconfig['vrstvy'].push(["{{v.name}}", "{% url 'webmap.views.kml_view' v.slug %}"]);
    {% endfor %}
{% endcache %}

     mapconfig['basezoom'] = {{ config.MAP_BASEZOOM }};
     mapconfig['baselon'] = {{ config.MAP_BASELON }};
     mapconfig['baselat'] = {{ config.MAP_BASELAT }};
     mapconfig['bounds'] = new OpenLayers.Bounds( {{ config.MAP_BOUNDS }});
    {% if center_poi %}
        mapconfig['zoom'] = {{ config.MAP_POIZOOM }};
        mapconfig['lon'] = {{ center_poi.geom.x }};
        mapconfig['lat'] = {{ center_poi.geom.y }};
        mapconfig['center_feature'] = {{ center_poi.id }};
    {% else %}
        mapconfig['zoom'] = mapconfig['basezoom'];
        mapconfig['lon'] = mapconfig['baselon'];
        mapconfig['lat'] = mapconfig['baselat'];
    {% endif %}
    {% if mobilni %}
        mapconfig['mobilni'] = true;
    {% else %}
        mapconfig['mobilni'] = false;
    {% endif %}
</script>
     
     
  </head>
  <body onload="init(mapconfig)">
{# cele body nemuzeme cachovat, protoze obsahuje nahodne misto #}
{# stranka je proto rozdelena na horni-cast a dolni-cast #}
    <div class="page">
        <div class="content">
            {% if not mobilni %}
            <div class="panel" id="tabs">
               <ul>
                  <li><a href="#zelena_mapa">Zelená mapa</a></li>
                  <li><a href="#ostatni_projekty">Ostatní projekty</a></li>
                  <li><a href="#nastroje">Nástroje</a></li>
                  <li><a href="#overlay_left">Detaily</a></li>
               </ul>

               <div id="ostatni_projekty">Ostatní projekty</div>

               <div id="overlay_left">
                  <div id="left_iframe" class="overlay_iframe" scrolling="auto" frameborder="0"></div>
               </div>

               <div id="nastroje">
                <h4>Vyhledávání</h4>
                <form id="search_form" class="rounded" onsubmit="doSearch(this); return false;" action="">
                    <input id="search_input" type="search" name="query"></input><input id="search_submit" type="submit" value=""></input>
                </form>
                <div id="search_results">
		       <img src="{% static "js/img/close_18.png" %}" alt="zavřít" class="close"/><h4>Výsledky hledání</h4>
		       <div id="sr_inner"></div>
                </div>
                <hr/>
                <a href="#" id="permalink">ODKAZ NA MAPU</a>
                <br/>
                <br/>
                © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors
               </div>

                <div id="zelena_mapa">
                <div id="layerswitcher"></div>
                <hr/>
                <div class="filtry">
                    {% cache 86400 sidebar %}
                    <h4>Chci najít</h4>
                    <ul>
                    {% for z in znacky %}
                        <li class="inactive">
                        <a id="znacka_{{z.id}}" onclick="toggleMarkerFilter(this, true); return false;" title="{{z.desc}}">
                        {% if z.menu_icon %}
                           <img src="{{z.menu_icon.url}}" alt="{{z.name}}"/>
                        {% endif %}
                        {{ z.name }}
                        </a>
                        {% if z.vlastnosti %}
                        <ul>
                        {% for v in z.vlastnosti %}
                                <li class="inactive">
                                <a id="znacka_{{z.id}}_vlastnost_{{v.slug}}" class="inactive" onclick="togglePropertyFilter(this); return false;" title="{{v.desc}}">
                                {% if v.default_icon %}
                                   <img src="{{v.default_icon.url}}" alt="{{v.name}}"/>
                                {% endif %}
                                {{v.name}} ({{v.poi_count}})
                                </a></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                    {% endcache %}
                    <a id="fitr_help" href="#vlastnosti" title="Napoveda">Nápověda</a>
                    <br />
                </div>
                </div>

            </div>
            {% endif %} {# mobilni #}
	    
	                <div class="core">
                <div class="mapbox">
                    <div id="map"></div>
                </div>
        </div>
    </div>
 </div>
  </body>
</html>
