<!DOCTYPE html>
{% load static cache compress staticpage geturl %}
{% load url from future %}
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}" />
  {% compress css %}
  <link rel="stylesheet" href="{% static "css/openlayers.css" %}" type="text/css" /> 
  <link rel="stylesheet" href="{% static "css/zelenamapa.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "css/layerswitcher.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" type="text/css"/>
  {% endcompress %}

  <link rel="stylesheet" href="{% static "css/print.css" %}" type="text/css" media="print" />

  {% if mobilni %}
      <link rel="stylesheet" href="{% static "css/mobile.css" %}" type="text/css" />
  {% endif %}



   <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.8&amp;sensor=false"></script>
 {% compress js %} 
   <script type="text/javascript" src="{% static "js/OpenLayers.js" %}"></script>
   <script type="text/javascript" src="{% static "js/OpenStreetMap.js" %}"></script>
   <script type="text/javascript" src="{% static "js/MyFramedCloud.js" %}"></script>

   <script type="text/javascript" src="{% static "js/jquery.tools.min.js" %}"></script>
   <script type="text/javascript" src="{% static "js/jquery-2.1.1.min.js" %}"></script>
   <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>

   <script type="text/javascript" src="{% static "js/jquery.ba-hashchange.min.js" %}"></script>

   <script type="text/javascript" src="{% static "js/simplelayerswitcher.js" %}"></script>
   <script type="text/javascript" src="{% static "js/cs-CZ.js" %}"></script>
   <script type="text/javascript" src="{% static "js/mapa.js" %}"></script>
   <script type="text/javascript" src="{% static "js/mapa-utils.js" %}"></script>
   <script type="text/javascript" src="{% static "js/ga.js" %}"></script>
    {% endcompress %}
    <script type="text/javascript" src="layers/{{ center_poi.id }}"></script>

    <title>{% if center_poi %}{{ center_poi }} - {% endif %}Zelená mapa Plzně</title>
    {% if center_poi %}
         <meta property="og:title" content="{{ center_poi }} - Zelená mapa Plzně"/>
	 <meta property="og:site_name" content="Zelená mapa Plzně"/>
         <!--<meta property="og:url" content="http://{{ site }}:8010/misto/{{  center_poi.id }}"/>-->
	 {% if center_poi.foto_thumb %}
	   <meta property="og:image" content="http://{{ site }}{{ center_poi.foto_thumb.url }}"/>
	 {% else %}
 	   <meta property="og:image" content="http://{{ site }}/static/img/zelena_mapa_ctverec.jpg"/>
	 {% endif %}
	 {% if center_poi.desc %}
 	   <meta property="og:description" content="{{ center_poi.desc|safe }}"/>
	 {% else %}
 	   <meta property="og:description" content="{{ center_poi.znacka }}"/>
	 {% endif %}
   {% endif %}     
     
  </head>
  <body onload="init(mapconfig)">
{# cele body nemuzeme cachovat, protoze obsahuje nahodne misto #}
{# stranka je proto rozdelena na horni-cast a dolni-cast #}
    <div class="page">
        <div class="content">
            {% if not mobilni %}
            <div id="ovladaci_prvky">
            <div id="cela_obrazovka"><input type="image" onclick='javascript:$("#tabs").toggle();' src="/static/img/fullscreen.png"></input></div>
            <div id="SimpleLayerSwitcher" class="SimpleLayerSwitcher olControlNoSelect" style="position: absolute; z-index: 1006;" unselectable="on"></div>
            <div id="minimalizovat_menu"><input type="image" onclick='javascript:$("#tabs").toggle();' src="/static/img/minimalizovat_menu.png"></input></div>
            </div>
            {% include "panel.html" %}

            {% endif %} {# mobilni #}
	    
	                <div class="core">
                <div class="mapbox">
                    <div id="noevent_area"></div>
                    <div id="print_area" class="ui-widget-content"></div>
                    <div id="map"></div>
                </div>
        </div>
    </div>
 </div>
  </body>
</html>
