{% load static %}
{% load url from future %}
{% load comments %}

<html>
  <head>
   <link rel="stylesheet" href="{% static "css/zelenamapa.css" %}" type="text/css" />
<!--   <link rel="stylesheet" type="text/css" href="http://petricko.cz/static/petricko/css/bootstrap-forms.css">-->
   
   <title>{{ poi }}</title>

   <script type="text/javascript" src="/static/js/jquery.tools.min.1.2.7.js"></script>

   {# comments #}
   <link rel="stylesheet" type="text/css" href='{% static "fluent_comments/css/ajaxcomments.css" %}' />
   <script type="text/javascript" src='{% static "fluent_comments/js/ajaxcomments.js" %}'></script>

   {# comments - persist login values #}
   <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
   <script type="text/javascript" src="{% static "js/jquery.persist.js" %}"></script>

   <script type="text/javascript">

{% if config.ENABLE_FEATURE_WIDGET %}
    function widgetIframe (w, h) {
      return "<script type=\"text/javascript\" src=\"http:\/\/{{ site }}\/mapwidget\/mapconfig_div{{ poi.pk }}.js\"><\/script><div id=\"map\" style=\"width:"+w+"px;height:"+h+"px\"><\/div>"
    }

  function generateWidgetIframe () {
      w = $('[name=widget_width]').val();
      h = $('[name=widget_height]').val();
      $('[name=widget_html_iframe]').val(widgetIframe(w, h));
    }
{% endif %}

    $(document).ready(function () {
{% if config.ENABLE_FEATURE_COMMENTS %}
   $('#id_name,#id_email').persist();
{% endif %}
    $("#wigdet_generator").hide();

        $("#togle_widget_generator").click(function(){
          $("#wigdet_generator").toggle();
        });
    })


   </script>
  </head>
  <body>
  <div class="page" style="text-align:center;">
       <div class="content" style="max-width:500px; text-align:left;">

       <h2>{{ poi }}</h2>
       {% if poi.foto_thumb %}
            <a href="{{ MEDIA_URL }}{{ poi.foto_thumb }}"><img src="{{ MEDIA_URL }}{{ poi.foto_thumb }}" title="{{ poi }}" class="foto_thumb_misto"></a>
       {% else %}	    
            <div class="foto_thumb_misto"></div>
       {% endif %}


       <p class="poi_type"><img src="{{ poi.marker.default_icon.url }}" title="{{ poi.marker }}" class="poi_znacka"> {{ poi.marker }}</p>


       <ul class="misto_vlastnosti">
       {% for vl in poi.properties.all %}
            {% if vl.status.show %}
            <li><img src="{{ vl.default_icon.url }}" title="{{ vl.name }}">{{  vl.name }}</li>
	    {% endif %}    
       {% endfor %}
       </ul>    
  
       {% if poi.address %}
       <p><span class="titulek">Adresa:</span><br>{{ poi.address|safe }}</p>
       {% endif %}
   
       {% if poi.url %}
       <p><span class="titulek">Webové stránky:</span><br><a href="{{ poi.url|safe }}" title="{{ poi.url|safe }}" target="_blank">{{ poi.url|safe }}</a></p>
       {% endif %}
   
       {% if poi.desc %}
       <p><span class="titulek">Popis:</span><br>{{ poi.desc|safe }}</p>
       {% endif %}
    
       {% if poi.desc_extra %}
       {{ poi.desc_extra|safe }}
       {% endif %}

       <p><a href="{% url 'mapa.views.addpoi_view' poi.id %}" title="Doplnit informace o objektu">upravit</a> |
       <a href="{% url 'mapa.views.mapa_view' poi.id %}" target="_top" title="Ukázat v mapě">zobrazit v mapě</a></p>
       {% if config.ENABLE_FEATURE_SOCIAL %}
        <div class="content" style="max-width:500px; text-align:left;clear:both;">
           <div class="fb-like" data-href="http://{{ site }}/misto/{{ poi.id }}" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false" data-font="arial" style="width:110px;"></div>
           <a href="https://twitter.com/share?url=http://{{ site }}/misto/{{ poi.id }}" class="twitter-share-button" data-via="zelenamapa" data-lang="en">Tweet</a>
           <div class="g-plus" data-action="share" href="http://{{ site }}/misto/{{ poi.id }}"></div>
      </div>
       {% endif %}

{% if config.ENABLE_FEATURE_COMMENTS %}
<h3>Komentáře</h3>
<div class="comments-wrapper">
{% render_comment_list for poi %}
{% render_comment_form for poi %}
</div>
{% endif %}
<hr>

<a href="#" id="togle_widget_generator"><h4>HTML pro zobrazení odkazu na Zelenou mapu</h4></a>
       <div id="wigdet_generator">
       <p>Permalink na místo: <a href="http://{{ site }}{% url 'mapa.views.mapa_view' poi.id %}" target="_top">http://{{ site }}{% url 'mapa.views.mapa_view' poi.id %}</a></p>

       {% if config.ENABLE_FEATURE_WIDGET %}
       <p>Widgeta mapy - pro vložení do vlastních stránek.</p>
       
       <p>Velikost: <input type="text" class="widget_input" name="widget_width" placeholder="šířka" onkeyup="generateWidgetIframe();" value="300"> x
       <input type="text" class="widget_input" name="widget_height" placeholder="výška" onkeyup="generateWidgetIframe();" value="300"></p>
       <textarea class="rounded_html_iframe"  name="widget_html_iframe" style="width:500px;"><script type="text/javascript" src="http://{{ site }}/mapwidget/mapconfig_div{{ poi.pk }}.js"></script><div id="map" style="width:300px;height:300px"></div></textarea>
       {% endif %}

       <p>Chcete-li odkázat na toto konkrétní místo v Zelené mapě, použijte následující HTML kód.</p>

       <p><a href="http://{{ site }}{% url 'mapa.views.mapa_view' poi.id %}" target="_blank" style="float:left;"><img src="{% static "img/ikonka_zm100x100.jpg" %}"></a><br>
       <textarea rows="3" class="rounded_html_iframe" name="html" cols="40" style="width:290px;margin-left:20px;"><a href="http://{{ site }}{% url 'mapa.views.mapa_view' poi.id %}"><img src="{% static "img/ikonka_zm100x100.jpg" %}" style="width:100px; height:100px;float:left;"></a></textarea>
       </p>
     </div>

</div>
</div>
       {% if config.ENABLE_FEATURE_SOCIAL %}
       <!-- SOCIAL JS-->
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
      
      <!-- Place this tag where you want the share button to render. -->
      
      <!-- Place this tag after the last share tag. -->
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
      <!-- END SOCIAL JS -->
      {% endif %}

  </body>
</html>
