{% load static cache %}
{% cache 86400 panel %}
<div class="panel" id="tabs">
   <ul>
      <li><a href="#zelena_mapa">Zelená mapa</a></li>
      <li><a href="#ostatni_projekty">Ostatní projekty</a></li>
      <li><a href="#nastroje">Nástroje</a></li>
      <li><a href="#overlay_left">Detaily</a></li>
   </ul>

   <div id="ostatni_projekty">
      {{ static_ostatni_projekty.content|safe }}
   </div>

   <div id="overlay_left">
      <div id="left_iframe" class="overlay_iframe"></div>
   </div>

   <div id="nastroje">
    <h4>Vyhledávání</h4>
    <form id="search_form" class="rounded" onsubmit="doSearch(this); return false;">
        <input id="search_input" type="search" name="query"/><input id="search_submit" type="submit" value=""/>
    </form>
    <div id="search_results" style="display:none">
    <a onclick="searchClosed()"><img src="http://{{ site }}{% static "js/img/close_18.png" %}" alt="zavřít" class="close"/></a>
           <h4>Výsledky hledání</h4>
           <div id="sr_inner" class="pannel_items"></div>
    </div>
    <hr/>
    <a href="javascript:print()" id="print" class="icon_button">VYTISKNOUT</a>
    <hr/>
    <a href="#" id="permalink" class="icon_button">ODKAZ NA MAPU</a>
    <br/>
    <br/>
    
    {% include "vlastnosti.html" %}
   </div>

    <div id="zelena_mapa">
    <div id="layerswitcher"></div>
    <br/>
    <hr/>
    <div class="filtry pannel_items">
        <h4>Chci najít</h4>
        <ul id="marker_list">
        {% for z in znacky %}
            <li class="inactive">
            <div id="znacka_{{z.id}}" onclick="toggleMarkerFilter(this, false); return false;">
            <a title="{{z.desc}}">
            {% if z.menu_icon %}
               <img class="marker_img" src="http://{{ site }}{{z.menu_icon.url }}" alt="{{z.name}}"/>
            {% else %}
               <img class="marker_img" src="http://{{ site }}{{z.default_icon.url }}" alt="{{z.name}}"/>
            {% endif %}
            {{ z.name }}
            </a>
            </div>
            {% if z.vlastnosti %}
            <ul>
            {% for v in z.vlastnosti %}
                    <li class="inactive">
                    <div id="znacka_{{z.id}}_vlastnost_{{v.slug}}" onclick="togglePropertyFilter(this); return false;">
                    <a title="{{v.desc}}">
                    {% if v.default_icon %}
                       <img class="property_img" src="http://{{ site }}{{v.default_icon.url}}" alt="{{v.name}}"/>
                    {% endif %}
                    {{v.name}} ({{v.poi_count}})
                    </a></div></li>
            {% endfor %}
            </ul>
            {% endif %}
            </li>
        {% endfor %}
        </ul>
        <br />
    </div>
    <div id="panel-legenda">
      <div class="pannel_items">
      <h4>Legenda barev</h4>
      <ul>
        {% for l in legenda %}
        <li>
        <img src="http://{{ site }}{{ l.image.url }}" alt="{{ l.name }}"/> &nbsp; {{ l.name }}
        </li>
        {% endfor %}
      </ul>
      </div>
    </div>
    </div>

</div>
{% endcache %}
