{% load thumbnail %}
<div class="trc">
   {% if poi.url %}<h4><a href="{{ poi.url|safe }}" title="{{ poi.url|safe }}"  target="_blank">{{ poi }}</a></h4>
   {% else %}<h4>{{ poi }}</h4>
   {% endif %}
</div>

<div class="rc">
{% if fotky %}
  {% thumbnail fotky.0.photo "250x250" as foto_thumb %}
    <a href="/misto/{{ poi.id }}" title="Podrobné informace o místě" target="_blank">
    <img src="http://{{ site }}{{ foto_thumb.url }}" title="{{ fotky.0.name }}" width="{{ foto_thumb.width }}" height="{{ foto_thumb.height }}" class="foto_thumb"></a>
{% endif %}

<div>
{% for vl in poi.properties.all %}
   {% if vl.status.show %}
      <img src="http://{{ site }}{{ vl.default_icon.url }}" title="{{ vl.name }}">
   {% endif %}
{% endfor %}
</div>

{% if poi.desc %}
    <p>{{ poi.desc|safe }}</p>
{% else %}
    <p>{{ poi.znacka }}</p>
{% endif %}
{% if poi.address %}
    <p>Adresa:<br>{{ poi.address|safe }}</p>
{% endif %}
{% if poi.url %}
    <p><a target="_blank" href="{{ poi.url|safe }}" title="{{ poi.url|safe }}">{{ poi.url|truncatewords:4 }}</a></p>
{% endif %}

<!--   <div class="fb-like" data-href="http://zelenamapa.cz/misto/{{ poi.id }}" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false" data-font="arial" style=""></div>
   <a href="https://twitter.com/share" class="twitter-share-button" data-via="zelenamapa" data-lang="en">Tweet</a>
   <div class="g-plus" data-action="share"></div> -->


</div>
<p class="addinfo">
    {% if perms.mapa.change_poi %}
       <a href="{% url 'admin:webmap_poi_change' poi.id %}">upravit</a>
    {% endif %}
    <a href="/misto/{{ poi.id }}" title="Podrobné informace o místě" target="_blank">detail</a>
    <!--
    <a href="javascript:void(0);" onclick="ZoomToLonLat(this, {{ poi.geom.x }}, {{ poi.geom.y }}, 17);"
      title="Najet v mapě na místo" >na střed</a>
    -->
</p>
