{% load static compress %}
 {% compress js %} 
   <script type="text/javascript" src="{% static "js/OpenStreetMap.js" %}"></script>
   <script type="text/javascript" src="{% static "js/MyFramedCloud.js" %}"></script>
   <script type="text/javascript" src="{% static "js/jquery.tools.min.js" %}"></script>
   <script type="text/javascript" src="{% static "js/jquery.ba-hashchange.min.js" %}"></script>
   <script type="text/javascript" src="{% static "js/mapa.js" %}"></script>

   <script type="text/javascript">
        /* <![CDATA[ */
        // CSS for narrow window (when less than 1100 detected, then we use 1024 layout)
        $(document).ready(function(){
     if (screen.height<=900){
        $('head').append('<link rel="stylesheet" href="{% static "css/zm_low.css" %}" type="text/css" />');
     };
     if (screen.width<=1100){
        $('head').append('<link rel="stylesheet" href="{% static "css/zm_narrow.css" %}" type="text/css" />');
     };
  });

        // Displayed overlay and resize handler
        $(window).resize(function() {
     var overlay_left = $('#overlay_left');
     if(overlay_left.css('display') != 'none') {
        var offset = $('.core').offset();
        overlay_left.css('left', offset.left);
     }
     var search_results = $('#search_results');
     if(search_results.css('display') != 'none') {
        var offset = $('.filtry').offset();
        search_results.css('left', offset.left);
     }
  });
        /*]]> */
    </script>

 <script type="text/javascript">
    var mapconfig = {};
    mapconfig['vrstvy'] = [];
        mapconfig['vrstvy'].push(["Město", "/kml/mesto/"]);
        mapconfig['vrstvy'].push(["Podniky", "/kml/restaurace-kavarny/"]);
        mapconfig['vrstvy'].push(["Obchody", "/kml/obchody/"]);
        mapconfig['vrstvy'].push(["Kultura", "/kml/kultura/"]);
        mapconfig['vrstvy'].push(["Komunity a NGO", "/kml/komunity-ngo/"]);
        mapconfig['vrstvy'].push(["Doprava", "/kml/verejna-doprava/"]);
    
         mapconfig['zoom'] = 16;
         mapconfig['lon'] = {{obj.geom.get_x}};
         mapconfig['lat'] = {{obj.geom.get_y}};
         mapconfig['mapwidget'] = {}
         mapconfig['mapwidget']["hide_controls"] = true;
    
        //mapconfig['center_feature'] = {{obj.pk}};
    
        //mapconfig['mobilni'] = true;
    
</script>     
{% endcompress %}