{% load static cache compress staticpage geturl %}
{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}" />
  <link rel="stylesheet" href="{% static "css/openlayers.css" %}" type="text/css" /> 
  <link rel="stylesheet" href="{% static "css/zelenamapa.css" %}" type="text/css" />

   <script type="text/javascript" src="{% static "js/OpenLayers.js" %}"></script>
 {% compress js %} 
   <script type="text/javascript" src="{% static "js/OpenStreetMap.js" %}"></script>
   <script type="text/javascript" src="{% static "js/MyFramedCloud.js" %}"></script>
   <script type="text/javascript" src="{% static "js/jquery.tools.min.js" %}"></script>
   <script type="text/javascript" src="{% static "js/jquery.ba-hashchange.min.js" %}"></script>
   <script type="text/javascript" src="{% static "js/mapa.js" %}"></script>

   <script type="text/javascript">
    
        /* <![CDATA[ */
        // CSS for narrow window (when less than 1100 detected, then we use 1024 layout)
        $(document).ready(function(){
	   if (screen.height<=900){
	      $('head').append('<link rel="stylesheet" href="{% static "css/zm_low.css" %}" type="text/css" />');
	   };
	   if (screen.width<=1100){
	      $('head').append('<link rel="stylesheet" href="{% static "css/zm_narrow.css" %}" type="text/css" />');
	   };
	});

        // Displayed overlay and resize handler
        $(window).resize(function() {
	   var overlay_left = $('#overlay_left');
	   if(overlay_left.css('display') != 'none') {
	      var offset = $('.core').offset();
	      overlay_left.css('left', offset.left);
	   }
	   var search_results = $('#search_results');
	   if(search_results.css('display') != 'none') {
	      var offset = $('.filtry').offset();
	      search_results.css('left', offset.left);
	   }
	});
        /*]]> */
    </script>
    {% endcompress %}

    <title>Zelená mapa Prahy</title>
     
<script type="text/javascript">
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-22281359-1']);
     _gaq.push(['_setDomainName', '.zelenamapa.cz']);
     _gaq.push(['_trackPageview']);
   
     (function() 
      {
	 
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      }
      )();
</script>

<script type="text/javascript">
{% cache 86400 mapconfig %} {# 24 hodin #}
    var mapconfig = {};
    mapconfig['vrstvy'] = [];
    {% for v in vrstvy %}
        mapconfig['vrstvy'].push(["{{v.nazev}}", "{% url 'mapa.views.kml_view' v.slug %}"]);
    {% endfor %}
{% endcache %}

     mapconfig['basezoom'] = 13;
     mapconfig['baselon'] = 14.4211;
     mapconfig['baselat'] = 50.08741;
    {% if center_poi %}
        mapconfig['zoom'] = 17;
        mapconfig['lon'] = {{ center_poi.geom.x }};
        mapconfig['lat'] = {{ center_poi.geom.y }};
        mapconfig['center_feature'] = {{ center_poi.id }};
    {% else %}
        mapconfig['zoom'] = mapconfig['basezoom'];
        mapconfig['lon'] = mapconfig['baselon'];
        mapconfig['lat'] = mapconfig['baselat'];
    {% endif %}
    {% if mobilni %}
        mapconfig['mobilni'] = true;
    {% else %}
        mapconfig['mobilni'] = false;
    {% endif %}
</script>
     
     
  </head>
  <body onload="init(mapconfig)">
{# cele body nemuzeme cachovat, protoze obsahuje nahodne misto #}
{# stranka je proto rozdelena na horni-cast a dolni-cast #}
{% cache 600 horni-cast mobilni %}
    <div class="page">
        <div class="content">
            {% if not mobilni %}
            <div class="head">
                <div id="overlay_left">
	            <img src="{% static "js/img/close_18.png" %}"class="close" />
                    <div class="blog_logo"><a href="#blog=0"><img src="{% static "img/zm_logo_300c.png" %}" alt="logo" /></a></div>
                    <div class="center_wrapper"><div class="blog_ad"></div></div>
                    <div id="left_iframe" class="overlay_iframe" scrolling="auto" frameborder="0"></div>
                </div>

                <div class="right_top_ad">
                {% get_staticpage "box-A" as f %}
				{{ f.content|safe }}
                </div>
                <div class="left_top_ad">
                {# maly box nad menu pro kratke dulezite sdeleni - moc nepouzivat, nabourava design #}
                </div>
  
                <div class="logo">
                    <a href="http://zelenamapa.cz"><img src="{% static "img/zm_logo_300b.png" %}" alt="logo" /></a>
                    {# <!--<div class="description">Podniky, město, šetrná doprava, problémy</div>--> #}
                </div>
                
                <div class="top-menu">
                    <a href="#clanek=intro" title="Základní informace">Co je Zelená mapa?</a>
                    <a href="#clanek=faq" title="Často kladené dotazy">Časté dotazy</a>
    	    	    <a href="#clanek=manual" title="Návod k použití mapy">Manuál</a>
    	    	    <a href="#blog=0" title="Blog Zelené mapy">Novinky</a>
    		    <strong><a href="#doplnit" title="Doporučit nové místo nebo podnik, který v mapě chybí.">Přidejte nové místo</a></strong>
                </div>
            </div>
            {% endif %} {# mobilni #}

            <div class="core">
                <div class="mapbox">
                    <div id="map"></div>
                    <div id="m_top"></div>
                    <div id="m_left"></div>
                    <div id="m_right"></div>
                    <div id="m_bottom"></div>
                </div>
{% endcache %}

                <div class="secondary">
                    {% if not mobilni %}
                    <div class="first raw">

                        <h3>Zajímavé místo</h3>
                        {% if random_poi %}
                            <h4><a href="{% url 'mapa.views.mapa_view' random_poi.id %}" title="Najet v mapě na místo" >{{ random_poi }}</a></h4>
                            {% if random_poi.foto_thumb %}
                                <a href="#detail={{ random_poi.id }}" title="Podrobné informace o místě">
                                  <img src="{{ random_poi.foto_thumb.url }}" title="{{ random_poi }}" class="foto_segment" /></a>
                            {% endif %}
                            <p>
                                {% for vl in random_poi.vlastnosti.all %}
				{% if vl.status.show %}
                                    <img src="{{ vl.default_icon.url }}" title="{{ vl.nazev }}" alt="{{ vl.nazev }}"/>
				{% endif %}
                                {% endfor %}
                            </p>

                            {% if random_poi.desc %}
                                <p>{{ random_poi.desc|safe }}</p>
                            {% else %}
                                <p>{{ random_poi.znacka }}</p>
                            {% endif %}
                            {% if random_poi.address %}
                                <p>Adresa:<br />{{ random_poi.address|safe }}</p>
                            {% endif %}
                            <p>
                            {% if random_poi.url %}
                                  <a target="_blank" href="{{ random_poi.url|safe }}" title="{{ random_poi.url|safe }}">web</a>,
                            {% endif %}



                            <a href="{% url 'mapa.views.mapa_view' random_poi.id %}" title="Najet v mapě na místo" >ukázat v mapě</a>,
                            <a href="#detail={{ random_poi.id }}" title="Podrobné informace o místě">detail místa</a>,
                            <a href="#doplnit={{ random_poi.id }}" title="Doplnit informace o místě, opravit chybu">doplň-oprav</a>
                            </p>
                        {% endif %} {# random_poi #}
                    </div>
                    {% endif %} {# mobilni #}

{% cache 600 dolni-cast mobilni %}
                    {% if not mobilni %}
                    <div class="second raw">
                        <iframe src="http://chodcisobe.cz/?widget=praha&limit=4&width=280" style="border:none;width:280px;height:450px;margin-top: 22px" frameborder="0" /></iframe> 
                    </div>

                    <div class="third raw">
                        <h3><a href="#blog=0">Novinky</a></h3>
                        {% geturl "http://wp.zelenamapa.cz/?page_id=373" 1 %}
                    </div>
                    {% endif %} {# mobilni #}
                </div>

                {% if not mobilni %}
                <div class="bottom">
                    <div class="gallery">
                        <div class="reklama2">
                          {% get_staticpage "box-E" as f %}
                          {{ f.content|safe }}
                        </div>
                    </div>
                    <div class="add segment middle_ad">
                          {% get_staticpage "box-F" as f %}
                          {{ f.content|safe }}
     
                    </div>
                </div>
                {% endif %} {# mobilni #}
            </div>

            {% if not mobilni %}
            <div class="panel">
                <form id="search_form" class="rounded" onsubmit="doSearch(this); return false;">
                    <input id="search_input" type="text" name="query"></input><input id="search_submit" type="submit" value=""></input>
                </form>
                <div id="search_results">
		       <img src="{% static "js/img/close_18.png" %}" alt="zavřít" class="close"/><h4>Výsledky hledání</h4>
		       <div id="sr_inner"></div>
                </div>
                <div class="filtry">
                    <h4>Ukaž výběr</h4>
                    {% for v in vlastnosti %}
                        {% if v.filtr  %}
                            <a id="{{v.slug}}" class="inactive" onclick="toggleFilter(this); return false;" title="{{v.desc}}">
                            <img src="{{v.default_icon.url}}" alt="{{v.nazev}}"/>{{v.nazev}}
                            </a><br />
                        {% endif %}
                    {% endfor %}
                    <a id="filtr_toggle" href="javascript:void(0);" onclick="toggleFiltry_add(this); return false;" >Další filtry</a>
                    <div id="filtry_add" style="display:none;">
                    {% for v in vlastnosti %}
                        {% if not v.filtr  %}
                            <a id="{{v.slug}}" class="inactive" onclick="toggleFilter(this); return false;" title="{{v.desc}}">
                            <img src="{{v.default_icon.url}}" alt="{{v.nazev}}"/>{{v.nazev}}
                            </a><br />
                        {% endif %}
                    {% endfor %}
                    </div>
                    <a id="fitr_help" href="#vlastnosti" title="Napoveda">Nápověda</a>
                    <br />
                </div>

                <div class="reklama1">
				  {% get_staticpage "box-B" as f %}
				  {{ f.content|safe }}
                </div>

                <div class="obj_count" style="margin-left:10px; margin-bottom:10px;">
                    <p>V zelené mapě je nyní <span style="font-size:150%; font-weight:bold;">{{ poi_count }}</span> míst.</p>
                </div>
    
                <div class="reklama1">
			 {% get_staticpage "box-C" as f %}
			 {{ f.content|safe }}
 			 {% get_staticpage "partneri" as f %}
                         {{ f.content|safe }}
			 {% get_staticpage "bottomright" as f %}
                         {{ f.content|safe }}
                </div>


                <div class="pan-001">
                    <a href="http://www.toplist.cz/stat/1158957" target="_top"><img src="http://toplist.cz/count.asp?id=1158957&amp;logo=mc" border="0" alt="TOPlist" width="1" height="1" style="display:none"/></a>
                </div>
            </div>
            {% endif %} {# mobilni #}
        </div>

        {% if not mobilni %}
        <div class="footer">
           {% get_staticpage "about" as s %}
           {{ s.short|safe }}
           {% get_staticpage "odkazy" as s %}
           <p>{{ s.short|safe }} | 
           {% get_staticpage "ga" as s %}
           <a href="#clanek={{ s.slug }}">{{ s.short|safe }}</a></p>
     
        </div>
        {% endif %} {# mobilni #}

    </div>
{% endcache %}
  </body>
</html>
