{% load static %}
{% load url from future %}
<html>
  <head>
   <link rel="stylesheet" href="{% static "css/zelenamapa.css" %}" type="text/css" />
<!--   <link rel="stylesheet" type="text/css" href="http://petricko.cz/static/petricko/css/bootstrap-forms.css">-->
   
   <title>{{ poi }}</title>

   <script type="text/javascript" src="/static/js/jquery.tools.min.js"></script>
   <script type="text/javascript">
   function supports_html5_storage() {
  try {
    return 'localStorage' in window && window['localStorage'] !== null;
  } catch (e) {
    return false;
  }
}

    function saveLocalStorage () {
      var name = $('[name=name]').val();
      var email = $('[name=email]').val();
      if (supports_html5_storage())
      {
        localStorage.setItem("comment_name", name);
        localStorage.setItem("comment_email", email);
      }
    }

    function widgetIframe (w, h) {
      return "<iframe src=\"http://zelenamapa.cz/mapwidget/"+w+"x"+h+"/{{poi.pk}}/\" style=\"width:"+w+"px;height:"+h+"px;\" border=\"0\"></iframe>";
    }

  function generateWidgetIframe () {
      w = $('[name=widget_width]').val();
      h = $('[name=widget_height]').val();
      $('[name=widget_html_iframe]').val(widgetIframe(w, h));
    }

    $(document).ready(function () {
      if (supports_html5_storage())
      {
      $('[name=name]').val( localStorage.getItem("comment_name"));
      $('[name=email]').val( localStorage.getItem("comment_email"));
    }
    $("#wigdet_generator").hide();

        $("#togle_widget_generator").click(function(){
          $("#wigdet_generator").toggle();
        });
    })


   </script>

   <style type="text/css">
   .comment p, .comment h4 {margin: 1px 0 2px 0;}
   .comment {margin: 3px 0 10px 0;}
   </style>
  </head>
  <body>
  <div class="page" style="text-align:center;">
       <div class="content" style="max-width:500px; text-align:left;">

       <h2>{{ poi }}</h2>
       {% if poi.foto_thumb %}
            <a href="{{ MEDIA_URL }}{{ poi.foto_thumb }}"><img src="{{ MEDIA_URL }}{{ poi.foto_thumb }}" title="{{ poi }}" class="foto_thumb_misto"></a>
       {% else %}	    
            <div class="foto_thumb_misto"></div>
       {% endif %}


       <p class="poi_type"><img src="{{ poi.znacka.default_icon.url }}" title="{{ poi.znacka }}" class="poi_znacka"> {{ poi.znacka }}</p>


       <ul class="misto_vlastnosti">
       {% for vl in poi.vlastnosti.all %}
            {% if vl.status.show %}
            <li><img src="{{ vl.default_icon.url }}" title="{{ vl.nazev }}">{{  vl.nazev }}</li>
	    {% endif %}    
       {% endfor %}
       </ul>    
  
       {% if poi.address %}
       <p><span class="titulek">Adresa:</span><br>{{ poi.address|safe }}</p>
       {% endif %}
   
       {% if poi.url %}
       <p><span class="titulek">Webové stránky:</span><br><a href="{{ poi.url|safe }}" title="{{ poi.url|safe }}" target="_blank">{{ poi.url|safe }}</a></p>
       {% endif %}
   
       {% if poi.desc %}
       <p><span class="titulek">Popis:</span><br>{{ poi.desc|safe }}</p>
       {% endif %}
    
       {% if poi.desc_extra %}
       {{ poi.desc_extra|safe }}
       {% endif %}

       <p><a href="{% url 'mapa.views.addpoi_view' poi.id %}" title="Doplnit informace o objektu">upravit</a> |
       <a href="{% url 'mapa.views.mapa_view' poi.id %}" target="_top" title="Ukázat v mapě">zobrazit v mapě</a></p>
       
       </div>
       <div class="content" style="max-width:500px; text-align:left;clear:both;">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="zelenamapa" data-lang="en">Tweet</a>
      <div class="g-plus" data-action="share"></div>
      <div class="fb-like" data-href="http://zelenamapa.cz{{request.get_full_path}}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>

<h3>Komentáře</h3>
<div class="addcoment">
<form method="post" class="form">
{% csrf_token %}
<div class="fieldWrapper">
<input type="text" id="id_name" name="name" maxlength="64" placeholder="Jméno" >
</div>
<div class="fieldWrapper">
  <input type="text" id="id_email" name="email" maxlength="64" placeholder="Email">
</div>
<div class="fieldWrapper">
<textarea id="id_content" rows="10" cols="40" name="content" placeholder="Komentář" style="width:500px;height:100px;"></textarea>
</div>
<br/>
<button onmousedown="saveLocalStorage();"><input type="submit"
value="Přidat" ></button>
</form>
{% for comment in comment_list %}
<div class="comment">
  <h4 style="display:inline-block;">{{comment.name}}</h4> <p style="display:inline-block;">{{comment.email}} | {{comment.created_at}}</p>
<p>{{comment.content|linebreaksbr}}</p>
</div>
{%endfor%}
</div>
<hr>

<a href="#" id="togle_widget_generator"><h4>HTML pro zobrazení odkazu na Zelenou mapu</h4></a>
       <div id="wigdet_generator">
       <p>Permalink na místo: <a href="http://zelenamapa.cz{% url 'mapa.views.mapa_view' poi.id %}" target="_top">http://zelenamapa.cz{% url 'mapa.views.mapa_view' poi.id %}</a></p>
       
       <p>Widgeta mapy - pro vložení do vlastních stránek.</p>
       
       <p>Velikost <input type="text" class="widget_input" name="widget_width" placeholder="šířka" onkeyup="generateWidgetIframe();" value="300"> x
       <input type="text" class="widget_input" name="widget_height" placeholder="výška" onkeyup="generateWidgetIframe();" value="300"></p>
       <textarea class="rounded_html_iframe"  name="widget_html_iframe" style="width:500px;"><iframe src="http://zelenamapa.cz/mapwidget/300x300/{{ poi.pk }}/" style="width:300px;height:300px;" border="0"></iframe></textarea>

       <p>Chcete-li odkázat na toto konkrétní místo v Zelené mapě, použijte následující HTML kód.</p>

       <p><a href="http://zelenamapa.cz{% url 'mapa.views.mapa_view' poi.id %}" target="_blank" style="float:left;"><img src="{% static "img/ikonka_zm100x100.jpg" %}"></a><br>
       <textarea rows="3" class="rounded_html_iframe" name="html" cols="40" style="width:290px;margin-left:20px;"><a href="http://zelenamapa.cz{% url 'mapa.views.mapa_view' poi.id %}"><img src="{% static "img/ikonka_zm100x100.jpg" %}" style="width:100px; height:100px;float:left;"></a></textarea>
       </p>
     </div>

</div>
</div>
       <!-- SOCIAL JS-->
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
      
      <!-- Place this tag where you want the share button to render. -->
      
      <!-- Place this tag after the last share tag. -->
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>
      <!-- END SOCIAL JS -->
  </body>
</html>
