/* Rules for the layer switcher */

.SimpleLayerSwitcher {
  position:absolute;
  top:10px;
  right:55px;
  background:#333333;
  min-width:150px;
  cursor: pointer;
}

.SimpleLayerSwitcher a.basey {
  display:block;
  text-decoration:none;
  color:white;
  padding:2px 5px 2px 20px;
}

.SimpleLayerSwitcher a.basey-on {
  color:white;
  background-color: #333333;
  background-image: url('carat.png');
  background-repeat: no-repeat;
  background-position: 6px 6px;
}

.SimpleLayerSwitcher a.basey-off {
  display:none;
}

.SimpleLayerSwitcher:hover a {
  border-top:1px solid white;
}

.SimpleLayerSwitcher a:hover {
  background-color:#666666;
}

.SimpleLayerSwitcher:hover a:first-child {
  border-top:none;
}

.SimpleLayerSwitcher:hover a.basey-off {
  display:block;
}
