body{height: 100%; font-size:12px;margin:0;padding:0;font-family:Arial,Helvetica, sans-serif;color:#001400;}
div{padding:0;margin:0;}
a{color:#008000;text-decoration:none;}
a:hover{text-decoration:underline;}
img{border:0;}
h1, h2, h3, h4, h5, .dataLbl {font-family:Tahoma, Geneva, sans-serif;color:#999;}
h2{font-size:16px; font-style:italic;}
h3{font-size:14px; color:black;}
h4, .dataLbl {font-size:12px; color:black; margin-top:2px;} // used inside of popup
ol{margin:0 0 10px 0;padding:0;list-style:none;}
li{margin:0 0 8px 0;padding:0;list-style:none;}
td{font-size:10px;}
dt{font-weight:bold;}

.page{ width:100%; text-align:center;}
.head{width:100%;height:75px;}
.logo{padding:8px 0 0 0;width:310px;float:left;}
.description{color:#008000;width:300px;float:left;clear:none;}
.top-menu{float:right;clear:none;margin:8px 10px 8px 0; }
.middle_top_panel { float:right; max-width:470px;  max-height:70px;}

.left_top_ad{float:left;clear:none;margin:4px 10px 0 0; min-width:400px; max-width:500px; max-height:40px; min-height:40px; overflow:hidden; background-color:white; }
.right_top_ad{float:left;clear:none;margin:4px 0 0 0; min-width:200px; max-width:200px; max-height:60px; min-height:60px; overflow:hidden;}
.middle_ad { width:100%; height:135px; background-color:White;
text-align:center; border:solid 1px lightgray; }


.blog_logo { padding:8px 0 0 0; width:300px; }
.center_wrapper { width:100%; text-align:center }		
.blog_ad { background-color: whitesmoke; margin: 10px auto 5px auto; width:468px; height:60px; border:none; display: none; /*neni treba pro ZMJ*/}

.right { text-align: right; }
.segment { /*height:135px;*/ margin-top:28px; }
.raw h3 { margin-top:28px;  }
.third h3 { margin-top:28px; margin-bottom:19px; }

.top-menu a{margin:0 12px 0 0;color:#333;font-size:12px;}
.core{width:100%; height: 100%; clear:none; margin:0; top:0}
.mapbox, .secondary, .bottom{width:100%;}
.secondary{float:left;}
.content{width:100%;margin:0; margin-left:0px; text-align:left;}
.content_left{max-width:520px;margin:0; text-align:left; font-size: 13px;}
.first, .second, .third{float:left;clear:none;width:48%; overflow: hidden;}
.first p, .second p, .third p{text-align:justify;text-indent:0px;}
.first, .second{margin:0 22px 0 0;}
.gallery{min-width:520px;float:left;clear:none; margin-right:28px;}
.add{min-width:250px;float:left;}
#tabs{
  position:absolute;
  right: 15px;
  top: 100px;
  max-height: 70%;
  max-height: calc(100% - 110px);
  padding: 0px;
  border-width: 0;
  overflow-y: auto;
  width: 400px;
}
#tabs .ui-corner-all {
  border-width: 0;
}
#tabs .ui-tabs-nav {
  position: fixed;
  background: white;
  padding: 0;
  border-width: 0px;
  top: 75px;
  min-width: 400px;
}
#tabs :focus {
   outline: 0;
}
#tabs .ui-state-default,.ui-state-active {
  margin: 0px 0px 0px 0px;
  border-width: 0px;
}
#tabs .ui-tabs-anchor {
  margin: 0px 0px 0px 0px;
  padding: 3px 10px 3px 10px;
  border-width: 0px;
  height: 19px;
}
#tabs .ui-state-default a {
   background: white;
   color: #ff6e00;
}
#tabs .ui-state-active a {
   background: #ff6e00;
   color: white;
}

#tabs > .ui-corner-all, #tabs {
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
}

#tabs > div{
  top: 25px;
  right: 0px;
  left: 0px;
}
.right_top_panel{min-width:162px;width:20%; float:right;margin-right:10px max-height:70px;}
input#subscribe_submit{background:url();border:none;width:100%;text-align:right;color:#008000;}
input#subscribe_submit:hover{color:#ff6e00;}
.footer{ width:100%; height:60px; float:left; border-top:1px solid #ccc;}

/* Input obecne */
input{background:url();border:none;width:100%;text-align:left;font-size:10px;}
input:hover{color:#ff6e00;}
textarea{background:url();width:100%;text-align:left;color:#008000;border:solid 1px grey;
         font-family:Arial,Helvetica, sans-serif;font-size:10px;}

/* Filtry (inlc.zvyraznovani) */
.pannel_items{ padding:0 3px 3px 11px;line-height:19px;font-size:12px;}
.pannel_items a { padding: 4px;}
#filtr_toggle {  line-height:22px; padding-left:27px;}
#filtr_help   {  line-height:22px; }
.pannel_items .inactive>a{ color: black; cursor: default; }
.pannel_items .inactive>ul{ display:none; }
.pannel_items .active>a{ background-color: #dfd; color:black; cursor: default; }
.pannel_items .active>ul{ display:block; }
.pannel_items img{position:relative;top: 5px; margin-right:10px; }
.pannel_items h4, .dataLbl{ margin:0px 0 3px 2px;}
.pannel_items > ul { margin: 7px 0 0 0; padding: 0; }

/* Search  */

#search_input { border-style:solid; display:inline; line-height:14px; margin:0; font-size: 12px; width: 220px; border-width: 1px; margin-right: 5px;  }
#search_submit { border-style: none; display:inline; line-height:14px; padding:0px 0px 6px 0px; margin:0; width: 25px; background: url(/static/img/search.png) no-repeat;}
.widget_input { display:inline; width:auto; border:solid 1px grey; margin:0 0 10px 0;}

#sr_inner a { color: black; padding: 4px; }
#sr_inner a:hover{ color:#008000; cursor: default; } 
img.sr_img, img.marker_img, img.property_img {  width:18px; height:18px; position:relative; top: 3px; margin-right:10px;  }
.result_item      { cursor: pointer; }
.result_item:hover { background-color:  #dfd; border: 1px; }
.search_close     { float:right; cursor:hand;}
.close { position:absolute; right: 1px; cursor:pointer; }

/* Seznam filtru */
.desc_vlastnosti  img{position:relative;top: 5px; margin-right:10px; }

/* Forms */
.errorlist li { background-color: red; }
.controls input{border:solid 1px grey;width:100%;margin:0 0 10px 0;}
.controls textarea{background:url();width:100%;text-align:left;color:#008000;border:solid 1px grey;}
#id_desc { resize:none; }

/* LayerSwitcher (white and black text) */
.dataLayersDiv { z-index:2007;  overflow:visible; }
.olControlLayerSwitcher { color: #555; font-family: Arial,Helvetica,sans-serif; font-size: 10px; font-weight:normal;}
.baseLbl { display: none; }
.labelSpan { line-height:19px; padding: 0 0 0 18px; }
.dataLayersDiv input[type="checkbox"]{
   position: absolute;
   width: 15px;
   right: 50px;
}
.dataLayersDiv input:checked+label { color:green; }
.dataLayersDiv input:unchecked+label { color:black; }
.dataLayersDiv input+label:hover{text-decoration:underline;}
.dataLbl {
   display: block;
   font-weight: bold;
}

#OpenLayers_Control_MaximizeDiv_innerImage {  right: 0px; top: -5px; height:190px !important; overflow:visible;   }
.olControlAttribution { left: 10px; bottom: 10px; }


/* Popup */
.lc { float:left; bottom:0px;  width: 22px;  }
.trc { position:relative; left: -8px; padding: 12px 1000px 12px 12px; top: -8px; width:100%; background: #ff6e00; }
.trc h4{ margin-bottom: 0;}
/* .rc { margin-left: 24px; padding-right:2px; overflow-y: scroll; max-height:240px; } */
.rc { margin-left: 5px; padding-right:0px; max-height:770px; height: calc(100% - 69px); overflow-y: auto; top: -8px; position: relative;}
.rc_noscroll { margin-left: 5px; padding-right:2px;  }
.addinfo { text-align:left; margin-left:5px;}
.addinfo a { background: #ff6e00; color: white; padding: 3px 3px 3px 3px; text-transform: uppercase;}
.olPopupCloseBox { float:right !important; width: 26px !important; height: 24px !important; top: 34px !important; right: 2px !important;}
.foto_thumb { border:none; max-width:230px; max-height:230px; margin-top:4px; }
.foto_segment { border:none; width:50%; margin-bottom: 14px; float:left; margin-right:10px; }
.olMyFramedCloudPopupContent { width: 300px !important; left: 0px !important }
		 
/* END Popup */

.hint {font-size:xx-small; vertical-align:top; cursor:pointer;} 


/* Map borders */

/* #map { position:absolute; height:607px; width:889px; } */
#map { float:left; position:absolute; height:100%; width:100%; z-index:-1000; }

/* #m_bottom{float:left;position:relative;z-index:1000;background:url(/static/img/m_bottom.png) no-repeat left top;width:889px;height:3px; }
#m_top{position:relative;z-index:1000;background:url(/static/img/m_top.png) no-repeat left bottom;width:889px; height:3px;}
#m_left{float:left;clear:none;position:relative;z-index:1000;background:url(/static/img/m_left.png) no-repeat left top;width:3px;height:616px; }
#m_right{float:right;position:relative;z-index:1000;background:url(/static/img/m_right.png) no-repeat right top;width:3px;height:616px; } */

/* #mapover { position:absolute; height:621px; width:889px; overflow:hidden; z-index:999; } */

/* IE (even 7) workaround */
/*
* html #m_top { display:none; }
* html #m_bottom { display:none; }
* html #m_left { display:none; }
* html #m_right { display:none; }
* html #map { position: static; border:solid 1px grey; width:887px; height:605px; }
* html .mapbox { margin-bottom:10px; }
*/
/* END Map borders */

/* Detailni popis */
.poi_znacka { float:left; margin-right:7px; margin-bottom:0px;}
.poi_type { font-weight:bold; line-height: 25px; }
.titulek { font-style:italic; }
.misto_vlastnosti li  { margin: 2px 0 2px 0; }
.misto_vlastnosti img{position:relative;top: 5px; margin-right:10px; }
.foto_thumb_misto { max-width:300px; float:none;}
.foto_thumb_misto img { border:solid 1px grey; max-width:300px; margin:0 0 4px 5px; background-color:whitesmoke; }
.foto_thumb_edit { border:solid 1px grey; width:200px; min-height:120px; margin:0 0 4px 4px; background-color:whitesmoke; float:none; }


.vkladani_aktual { float:right; max-width:210px; background-color:white; border:solid 1px black; margin-left:5px; padding:5px; }

/* Reklamy */

.right_top_ad a img { max-height:60px; width:100% }
.reklama1 { margin-left:10px; margin-bottom:10px; }
.reklama2 { margin-top:28px; }
.reklama2 object { margin:0px;}
.scrollads a{display:block; width: 200px; height: 60px;}

/* Round corners */

.widget_input, .foto_thumb, .foto_segment, .foto_thumb_misto img, .foto_thumb_edit, .vkladani_aktual { -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; } 
.rounded_html_iframe, #id_comment, #id_name, #id_email, #id_desc, #id_url, #id_address  { -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
.middle_ad,        .left_top_ad,        .right_top_ad,        .reklama1,        .reklama2        , .blog_ad        { -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
.middle_ad a img,  .left_top_ad a img,  .right_top_ad a img,  .reklama1 a img,  .reklama2 a img  , .blog_ad a img  { -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; } 
.middle_ad object, .left_top_ad object, .right_top_ad object, .reklama1 object, .reklama2 object , .blog_ad object { -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; } 


/* Overlay left */

.overlay_iframe {
  background-color: white;
  margin-top: 10px;
  width:100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border:none;
}		

/* Wordpress */
.post h2 { font-size:12px; color:black; margin-top:2px; font-style:normal; margin-left:85px; } /* ekvivalent h4 */
.post small { position:relative; top: -20px; left:0px; height:1px; margin:0px; float:left  }
.catlist {margin: 4px 0 4px 0; }
.catlist span {float: left; width: 75px;}

.entry { min-height: 80px; margin-bottom:28px;}
.titulka {
	width:75px;
	margin-right: 10px;
	margin-bottom:10px;
	float:left;
	clear:none;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; 
	 }

/* Static content */
body.static { text-align:justify; margin:15px 4px 0 0; }

.zmj-menu a{/*color: #008000!important;*/ font-weight: bold;}

.baseLayersDiv {display: none;}

.icon_button{
        padding-left: 22px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
}

#permalink{
        background: url('/static/img/link.png') no-repeat left top;
        background-color: #333333;
        color: white;
}

#print{
        background: url('/static/img/print.png') no-repeat left top;
        background-color: #333333;
        color: white;
}
